/* General styles */
* {
	margin: 0;
	padding: 0;
}

:root {
	--text: #050a08;
	--background: #f8fcfa;
	--primary: #60af96;
	--secondary: #aac4d4;
	--accent: #8293c0;
	--bubbles: #f2f4f3;
}

@font-face {
	font-family: "Nimbus";
	src: url("./assets/fonts/NimbusSanL-Bol.otf");
}
