/* General header styles */
* {
	margin: 0;
	padding: 0;
}

:root {
	--text: #050a08;
	--background: #f8fcfa;
	--primary: #60af96;
	--secondary: #aac4d4;
	--accent: #8293c0;
	--bubbles: #f2f4f3;
}

@font-face {
	font-family: "Nimbus";
	src: url("./assets/fonts/NimbusSanL-Bol.otf");
}

.header {
	position: relative;
	background-color: var(--background);
	color: var(--text);
	text-align: center;
	height: 100vh;
}

.animations {
	height: 100%;
	font-family: "Nimbus", sans-serif;
}

.animationDiv1,
.animationDiv3 {
	font-size: 4rem;
	background-color: var(--primary);
	height: 27%;
	/* Hollow font style */
	color: transparent;
	-webkit-text-stroke: 0.3rem var(--text);
	-webkit-text-fill-color: transparent;
}

.animationDiv2 {
	font-size: 6rem;
	background-color: var(--background);
	height: 46%;
	/* Normal filled font style */
	color: var(--text);
}

/* Container for scrolling animation */
.animationDiv1,
.animationDiv2,
.animationDiv3 {
	color: var(--text);
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
}
/* In your App.css or relevant CSS file */

.h1marquee {
	margin-right: 4rem;
}
.h2marquee {
	margin-right: 4rem;
}
