/* Footer Styling */
#footer {
	background-color: var(--background);
	color: var(--text);
	padding: 2rem;
	text-align: center;
	position: relative; /* Ensures positioning of the reserved text */
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

a {
	all: unset;
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: transform 0.3s ease; /* Smooth transition for hover scale */
}

a:hover {
	transform: scale(1.2); /* Scale up the icons on hover */
}

ul {
	width: 100%;
	display: flex;
	justify-content: center; /* Centering icons */
	align-items: center;
	gap: 1rem; /* Reduced space between icons */
}

li {
	display: flex;
	align-items: center;
}

.footer-content p {
	font-size: 0.8rem;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.social-links a svg {
	font-size: 2rem;
	color: var(--text);
	transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover svg {
	color: #007bff;
	transform: scale(1.3);
}

/* Responsive Footer - Larger Screens */
@media (min-width: 768px) {
	#footer {
		padding-top: 0rem;
		padding: 3rem;
	}

	.footer-content {
		font-size: 1.5rem;
	}

	.social-links a {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	#footer {
		padding: 4rem;
	}

	.footer-content {
		font-size: 1.8rem;
	}

	.social-links a {
		font-size: 1.8rem;
	}
}
