/* Header section styles */
.header {
	position: relative;
	background-color: var(--background);
	color: var(--text);
	text-align: center;
	height: 100vh;
	font-family: "Nimbus", sans-serif;
}

.animations {
	height: 100%;
	font-weight: bold;
}

.animationDiv1,
.animationDiv2,
.animationDiv3 {
	color: var(--text);
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Nimbus", sans-serif;
}

/* Default sizes */
.animationDiv1,
.animationDiv3 {
	font-size: 3rem;
	background-color: var(--primary);
	height: 27%;
	color: transparent;
	-webkit-text-stroke: 0.3rem var(--text);
	-webkit-text-fill-color: transparent;
}

.animationDiv2 {
	font-size: 4rem;
	background-color: var(--background);
	height: 46%;
}

/* Scroll indicator styles */
.scroll-indicator {
	font-size: 2rem;
	animation: bounce 1s infinite;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text);
	-webkit-text-stroke: none;
	-webkit-text-fill-color: var(--text);
	z-index: 10;
}

/* Bounce animation for scroll indicator */
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

/* Increase sizes for larger screens */
@media (min-width: 600px) {
	.animationDiv1,
	.animationDiv3 {
		font-size: 3.5rem;
		-webkit-text-stroke: 0.35rem var(--text);
	}

	.animationDiv2 {
		font-size: 4.5rem;
	}
}

@media (min-width: 900px) {
	.animationDiv1,
	.animationDiv3 {
		font-size: 4rem;
		-webkit-text-stroke: 0.4rem var(--text);
	}

	.animationDiv2 {
		font-size: 5rem;
	}
}

@media (min-width: 1200px) {
	.animationDiv1,
	.animationDiv3 {
		font-size: 4.5rem;
		-webkit-text-stroke: 0.45rem var(--text);
	}

	.animationDiv2 {
		font-size: 5.5rem;
	}
}

.h1marquee,
.h2marquee {
	margin-right: 4rem;
}
