/* Global Styles */
html,
body {
	margin: 0;
	padding: 0;
}

main {
	padding: 4rem 2rem;
	background-color: var(--background);
	color: var(--text);
	box-sizing: border-box;
	max-width: 100vw;
	overflow-x: hidden;
}

section {
	margin-bottom: 6rem;
	box-sizing: border-box;
}

/* About Section */
#about {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#about h2 {
	font-family: "Nimbus", sans-serif;
	font-size: 6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--text);
	margin-bottom: 2rem;
	text-align: center;
	word-wrap: break-word;
	white-space: nowrap;
}

.personalPicture {
	max-width: 100%;
	height: auto;
	width: 250px;
	object-fit: cover;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	border: 2px solid black;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
	#about {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	#about h2 {
		font-size: 5rem;
		text-align: left;
	}

	.personalPicture {
		width: 400px;
	}
}

@media (max-width: 320px) {
	#about {
		flex-direction: column;
	}

	#about h2 {
		font-size: 3rem;
	}

	section p {
		font-size: 1.5rem;
	}
}

@media (min-width: 375px) {
	#about h2 {
		font-size: 5rem;
	}
}

@media (min-width: 1024px) {
	section p {
		font-size: 2.2rem;
	}
}

/* Paragraph Styling */
section p {
	font-family: "Nimbus", sans-serif;
	font-size: 2rem;
	line-height: 1.6;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
	color: var(--text);
	word-wrap: break-word;
}
